version: "3"
services:
    openldap:
        container_name: openldap-prod
        read_only: true
        security_opt:
            - no-new-privileges
        user: 1000:1000
        ports:
            - 389:389
            - 636:636
        volumes:
            - ldap-data:/var/lib/ldap
            - ldap-config:/etc/ldap/slapd.d
        image: docker.io/cleanstart/openldap:latest
volumes:
    ldap-data:
        external:
            name: ldap-data
    ldap-config:
        external:
            name: ldap-config