version: '2'

services:
  openldap:
    image: docker.io/cleanstart/openldap:latest
    ports:
      - '389:1389'
      - '636:1636'
    environment:
      - LDAP_ADMIN_USERNAME: "{{ ldap_admin_username }}"
      - LDAP_ADMIN_PASSWORD: "{{ ldap_admin_password }}"
      - LDAP_USERS: "{{ ldap_users }}"
      - LDAP_PASSWORDS: "{{ ldap_passwords }}"
    volumes:
      - 'openldap_data:/bitnami/openldap'

volumes:
  openldap_data:
    driver: local
